<div id="chart">
  <iframe width="500" height="300" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?containerId=gviz_canvas&amp;q=select+col5%2C+SUM(col13)+from+15WraChgipVanaxsmhOM5jDQapZ3huBE_JFGZ7EA+where+col11+%3D+2012+group+by+col5+order+by+SUM(col13)+asc+limit+50&amp;viz=GVIZ&amp;t=COLUMN&amp;uiversion=2&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;att=true&amp;width=500&amp;height=285"></iframe>
</div>