
  <!-- Nav and Banner -->
  
  <div class="row">
    <div class="large-12 columns">
      <ul class="button-group">
        <li><a href="#" class="button">Link 1</a></li>
        <li><a href="#" class="button">Link 2</a></li>
        <li><a href="#" class="button">Link 3</a></li>
        <li><a href="#" class="button">Link 4</a></li>
        <li><a href="#" class="button">Link 5</a></li>
        <li><a href="#" class="button">Link 6</a></li>
        <li><a href="#" class="button">Link 7</a></li>
      </ul>
      
      <!-- Main Banner Image - place in a paragraph to enforce the modular scale spacing -->
     
      <p></p>
    </div>


  
  <!-- End Nav and Banner -->
  <div class="large-12 columns">
  <ul class="large-block-grid-3">
    <li>
    <div id="chart">
      <iframe width="500" height="400" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?containerId=gviz_canvas&amp;q=select+col5%2C+SUM(col13)+from+15WraChgipVanaxsmhOM5jDQapZ3huBE_JFGZ7EA+where+col11+%3D+2012+group+by+col5+order+by+SUM(col13)+asc+limit+50&amp;viz=GVIZ&amp;t=COLUMN&amp;uiversion=2&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;att=true&amp;width=500&amp;height=285"></iframe>
    </div>
    <li>

    <li>
    <div id="googft-mapCanvas"></div>
    <input id="googft-legend-open" style="display:none" type="button" value="Legend"></input>
    <div id="googft-legend">
      <p id="googft-legend-title">Greenhouse Gas Quantity</p>
      <div>
        <img class="googft-dot-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAiklEQVR42mNgQIAoIF4NxGegdCCSHAMzEC81M4v6n56++n9V1RkwbWgY+B8oPhOmKM3WNu3/zJn/MbCFRSxIYSxI0YHi4gNYFRUW7gUp2gtS9LC9/SFWRc3Nt0GKbhNtUizIbmyKjIxCQIpCYI6fD/JdVtZGsO8yMtbBfDeNAQ2AwmkjNJzWIYcTAMk+i9OhipcQAAAAAElFTkSuQmCC"/>
        <span class="googft-legend-range">0 to 500,000</span>
      </div>
      <div>
        <img class="googft-dot-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAi0lEQVR42mNgQIAoIF4NxGegdCCSHAMzEC+NijL7v3p1+v8zZ6rAdGCg4X+g+EyYorS0NNv////PxMCxsRYghbEgRQcOHCjGqmjv3kKQor0gRQ8fPmzHquj27WaQottEmxQLshubopAQI5CiEJjj54N8t3FjFth369ZlwHw3jQENgMJpIzSc1iGHEwB8p5qDBbsHtAAAAABJRU5ErkJggg=="/>
        <span class="googft-legend-range">500,000 to 1,000,000</span>
      </div>
      <div>
        <img class="googft-dot-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAiklEQVR42mNgQIAoIF4NxGegdCCSHAMzEC+NUlH5v9rF5f+ZoCAwHaig8B8oPhOmKC1NU/P//7Q0DByrqgpSGAtSdOCAry9WRXt9fECK9oIUPXwYFYVV0e2ICJCi20SbFAuyG5uiECUlkKIQmOPng3y30d0d7Lt1bm4w301jQAOgcNoIDad1yOEEAFm9fSv/VqtJAAAAAElFTkSuQmCC"/>
        <span class="googft-legend-range">1,000,000 to 22,800,875.9</span>
      </div>
      <div class="googft-legend-source">
        <a href="data?docid=15WraChgipVanaxsmhOM5jDQapZ3huBE_JFGZ7EA" target="_blank">Source</a>
      </div>
      <input id="googft-legend-close" style="display:none" type="button" value="Hide"></input>
    </div>
    </li>
  </div>
  </ul>
  </div>

  <!-- Main Content Section -->
  
  <div class="row">

    <div class="large-8 columns">
      <h4>Green House Gases Legislation</h4>
      <div class="legislation"
      <% @bills.results.each do |result| %>
      <p><strong><%= result.bill_id %>: </strong><%= result.official_title %></p>
      <% end %>
    </div>
    <p><a href="#" class="secondary small button">Next Page &rarr;</a></p>
  </div>

  <div class="large-4 columns">

    <!-- Gallery sidebar with a block grid. Note: block grid items should be the same size for optimal results -->

    <ul class="small-block-grid-3">
      <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
      <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
      <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
      <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
      <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
      <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
    </ul>
  </div>

</div>


<!-- Call to Action Panel -->
<div class="row">
  <div class="large-12 columns">

    <div class="panel">
      <h4>Get in touch!</h4>

      <div class="row">
        <div class="large-9 columns">
          <p>We'd love to hear from you, you attractive person you.</p>
        </div>
        <div class="large-3 columns">
          <a href="#" class="radius button right">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>&copy; Abby, Matt and Dan</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
          <li><a href="#">Link 5</a></li>
          <li><a href="#">Link 6</a></li>
          <li><a href="#">Link 7</a></li>
        </ul>
      </div>
    </div>
  </div> 
</footer>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'assets/js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="assets/js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.abide.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>

